body {
    background-color:skyblue;
    min-height: 100vh;
    padding: 4vmin;
}

main {
    background-color: rgba(209, 217, 220, 0.63);
}

section {
    margin: 230px 0 0 0;
    background-color:rgba(105, 90, 205, 0.185);
    min-height: 10vh;
    height: 100px;
}

h3::before, h4::before {
    content: "FILE: "
}