<nav>
    <ul id="mainmenu">

        <li>
            <a href="#">home</a>
        </li>
        <li>
            <a href="#">about</a>
        </li>
        <li>
            <a href="#">work</a>
        </li>

        <li>
            <a href="#">play</a>

            <ul id="submenu">
                <li><a href="#">submenu</a></li>
                <li><a href="#">submenu</a></li>
            </ul>

        </li>

    </ul>
</nav>


<button class="toggle-menu button--menu-bars">
    <span class="visually-hidden">Open Menu</span>
    <svg width="50" height="27" viewBox="0 0 50 27" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 2H50" stroke="black" stroke-width="4"></path>
        <path d="M0 13.4285H50" stroke="black" stroke-width="4"></path>
        <path d="M0 24.8572H50" stroke="black" stroke-width="4"></path>
    </svg>
</button>

<button class="toggle-menu button--menu-bars">
    <span class="visually-hidden">Close Menu</span>
    <svg width="39" height="39" viewBox="0 0 39 39" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M2 2L37.3553 37.3553" stroke="black" stroke-width="4"></path>
        <path d="M37.3555 2L2.00013 37.3553" stroke="black" stroke-width="4"></path>
    </svg>
</button>